@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ofont.ru_Arial.ttf");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ofont.ru_Georgia.ttf");
}

.font-link,
.font-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.font-title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.logo-title a {
  color: #545454;
}

.logo-subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.nav-link {
  margin-left: 35px;
  padding: 5px 0;
}

.nav-link:hover {
  color: #292929;
}

.second_link_active {
  border-bottom: 3px solid #F1CDB3;
}

.pets {
  background-color: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.pets-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px);
      grid-template-columns: repeat(4, 270px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  margin-top: 60px;
  padding-bottom: 15px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 43px;
  border-radius: 100px;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #292929;
}

.btn:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.pet-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.pet-card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.pet-card:hover .btn {
  background-color: #FDDCC4;
}

.pet-card .btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.pet-name {
  font-size: 20px;
  line-height: 23px;
}

.pagination-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-panel .slide-btn {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #F6F6F6;
  font-size: 20px;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-weight: 400;
  color: #292929;
}

.pagination-panel .slide-btn:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.pagination-panel .current {
  background-color: #FDDCC4;
}

.pagination-panel .current:hover {
  cursor: default;
}

.pagination-panel .disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.pagination-panel .disabled:hover {
  background-color: #F6F6F6;
  color: #CDCDCD;
  cursor: default;
}

.footer {
  background: URL("../Our pets_files/img/noise_transparent.png"), -webkit-gradient(linear, left top, right top, from(#49372a), color-stop(50%, #1A1A1C), to(#211F20));
  background: URL("../Our pets_files/img/noise_transparent.png"), linear-gradient(to right, #49372a 0%, #1A1A1C 50%, #211F20 100%);
  height: 350px;
}

.footer .font-title {
  color: #FFFFFF;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 278px 302px 300px;
      grid-template-columns: 278px 302px 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 160px;
}

.footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 56px 0 60px;
}

.footer-column:nth-child(2) {
  width: 302px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
}

.footer-image {
  padding-top: 40px;
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .pets {
    padding-bottom: 75px;
  }
  .pets-grid {
    -ms-grid-columns: (270px);
        grid-template-columns: repeat(2, 270px);
    grid-auto-rows: auto auto auto 0;
    overflow: hidden;
    margin-top: 30px;
    padding-bottom: 0;
  }
  .pagination-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  .footer {
    height: 610px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 278px 302px;
        grid-template-columns: 278px 302px;
    -ms-grid-rows: 234px 310px;
        grid-template-rows: 234px 310px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 65px;
  }
  .footer-image {
    grid-column: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0;
  }
  .footer-column {
    padding: 0;
  }
}